/*
    reset that CSS honey
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Courier New', Courier, monospace;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    padding: 1rem;
}
/* Add a black background color to the top navigation */
.navWrapper {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navWrapper a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navWrapper a:hover {
  background-color: #333;
  color: #ddd;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    h1{
        font-size: 1.5rem;
    }
}

.introWrapper {
    padding: 1rem;
    display: flex;
    justify-content: center;
    .introContent {
        max-width: 800px;
        img {
            max-width: 100%;
            height: auto;
        }
        p{
            padding-top: 0.5rem;
        }
    }

}

.archivePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.archiveListenInstructions {
    padding: 1.5rem;
    font-size: 1.10rem;
}
.archiveEntryWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80%;
    .archiveEntry{
        border-top: 0.5px solid black;
        margin: 0.5rem;
        ol li{
            list-style-position: inside;
        }
    }
    h3 {
        font-weight: 700;
        padding: 1rem 0;
    }
}

.contactPageWrapper{
    padding: 1rem;
    display: flex;
    justify-content: center;
    .contactContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        .contactItem{
            .contactEmail {
                font-weight: 600;
            }
            img {
                width: 100%;
                height: auto;
            }
            p {
                padding-bottom: 0.5rem;
                line-height: 1.5rem;
                font-size: 1.10rem;
            }
        }
    }
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}